.b-filters {
	background: #ededed;
	//	border-top: 1px solid #dedede;
	border-bottom: 1px solid #dedede;
	padding: 10px 15px;
}

.b-filters__title {
	font-size: 12px;
	color: #000000;
	text-transform: uppercase;
	margin-right: 10px;
	line-height: 40px;
}

.b-filters__form {
	.form-group {
		margin-bottom: 0;
	}

	.form-control-feedback {
		color: #ff6c32;
		font-size: 18px;
	}

	.row > [class^="col-"] {
		padding-left: 5px;
		padding-right: 5px;

		&:first-child {
			padding-left: 15px;
		}

		&:last-child {
			padding-right: 15px;
		}
	}
}