.b-notification-preview {
	background: #fff;
	border: 1px solid #cccccc;
	text-align: center;
	position: relative;
	margin-top: 25px;
	margin-bottom: 60px;
	font-weight: 300;
	width: 221px;
	right: 15px;

	.text-danger {
		color: #ff6c32;
	}
}

.b-notification-preview__icon {
	width: 40px;
	height: 40px;

	color: #fff;
	font-size: 18px;
	line-height: 42px;

	position: absolute;
	top: -28px;
	left: 50%;
	margin-left: -20px;
	border-radius: 50%;
}

.b-notification-preview__date {
	line-height: 48px;
	background: #f5f5f5;
}

.b-notification-preview__text {
	padding: 12px 10px 20px;
	background: #fff;
	margin-bottom: 0;
}
