.b-devices {
	margin-top: 50px;
	margin-bottom: 0;
}

.b-devices__item {
	border: 1px solid #cccccc;
	text-align: center;
	position: relative;
	display: inline-block;
	width: 48%;
	margin-left: 1%;
	margin-right: 1%;
	margin-bottom: 70px;
	padding: 40px 35px 30px;
	height: 392px;
	float: left;

	label {
		display: block;
	}

	.b-form {
		margin: 0;
		padding: 0;
	}
}

.b-devices__item_autosize {
	height: auto;
}

.b-devices__item-icon {
	width: 42px;
	height: 42px;

	color: #fff;
	font-size: 24px;
	line-height: 42px;

	position: absolute;
	top: -21px;
	left: 50%;
	margin-left: -21px;
	border-radius: 50%;
	z-index: 11;

	&.label-success {
		background-color: #ffd200;
	}
	&.label-danger {
		background-color: #f35f5f;
	}
	&.label-primary {
		background-color: #7dcfee;
	}
}

.b-devices__item-remove {
	position: absolute;
	bottom: -20px;
	left: 50%;
	margin-left: -20px;
	background: #fff;
	font-size: 18px;
	overflow: hidden;
	color: #ff6c32;

	&:active, &.active, &:focus {
		top: auto;
		color: #ff6c32;
		box-shadow: none;
	}

	&:hover {
		color: #ff6c32 !important;
		background-color: #ededed !important;

		i.fa {
			animation-name: btn-small-icon;
			animation-iteration-count: 1;
			animation-timing-function: ease-out;
			animation-duration: 0.2s;
		}
	}
}

.b-devices__item-header {
	height: 75px;
	border-bottom: 1px solid #cccccc;
	margin-top: -40px;
	margin-left: -35px;
	margin-right: -35px;
	margin-bottom: 25px;
	text-align: left;
	background: #f5f5f5;
	padding: 16px 19px;
	position: relative;
	z-index: 10;
}

.b-devices__item-header-title {
	font-weight: bold;
	font-size: 24px;
	margin-bottom: 0;
	line-height: 1;
}

.b-devices__item-header-title_single {
	line-height: 1.8;
}

.b-devices__item-header-description {
	margin-bottom: 0;
}

.b-devices__item-header-button {
	position: absolute;
	top: -1px;
	right: -1px;
	width: 75px;
	height: 76px;
	display: inline-block;
	line-height: 85px;

	overflow: hidden;
	color: #ff6c32;
	border: 1px solid #cccccc;
	background-color: #f5f5f5;
	text-align: center;

	&:hover, &:focus, &:active {
		color: #ff6c32;
		background-color: #ededed;

		i.fa {
			animation-name: btn-icon;
			animation-iteration-count: 1;
			animation-timing-function: ease-out;
			animation-duration: 0.2s;
		}
	}
}