.b-header {
	position: fixed;
	top: 10px;
	left: 10px;
	width: 1000px;
	border-top-right-radius: 12px;
	border-top-left-radius: 12px;
	z-index: 100;

	&:before {
	}
}

.b-header__icon {
	color: #27ae60;
	font-size: 18px;
	position: relative;
	top: 2px;
}

.b-header__navbar {
	border-top-right-radius: 12px;
	border-top-left-radius: 12px;
	border: none;
	border-bottom: 1px solid #cccccc;
	box-shadow: 0 4px 0 0 rgba(0, 0, 0, .1);

	li {
		border-left: 1px solid #cccccc;
	}

	li:last-child a {
		border-top-right-radius: 12px !important;
	}

	a:active, li.active a {
		background: #27ae60 !important;
		color: #fff !important;

		> .text-muted {
			color: #93d7b0;
		}

		> .b-header__icon, & > .b-header__username {
			color: #ffffff;
		}
	}
}

.b-header__username {
	font-weight: 800;
	color: #353535;
}