.b-tags {

}

.b-tags__tag {
	font-size: 10px;
	font-weight: normal;
	text-transform: uppercase;
	border-radius: 0;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	display: inline-block;
	margin-bottom: 3px;
}