.b-shop-preview {
	background: #fff;
	border: 1px solid #cccccc;
	text-align: center;
	position: relative;
	margin-top: 25px;
	margin-bottom: 60px;
	padding-bottom: 15px;
	width: 221px;
	right: 15px;

	hr {
		margin-top: 15px;
		margin-bottom: 15px;
		border-style: dashed;
	}
}

.b-shop-preview__icon {
	width: 40px;
	height: 40px;

	color: #fff;
	font-size: 18px;
	line-height: 42px;

	position: absolute;
	top: -30px;
	left: 50%;
	margin-left: -20px;
	border-radius: 50%;
}

.b-shop-preview__title {
	font-size: 20px;
	font-weight: bold;

	line-height: 60px;
	background: #f5f5f5;

	margin-bottom: 15px;
}

.b-shop-preview__big {
	font-weight: bold;
	font-size: 20px;
	display: block;
	margin-bottom: -3px;
}

.b-shop-preview__text {
	display: block;
}