.b-page-alert {
	color: #ff6c32;
	font-weight: normal;

	padding: 11px 0;
	margin: 0 20px;
}

.b-page-alert__label {
	font-size: 14px;
	line-height: 16px;
	text-align: right;
	margin-right: 20px;

	float: left;
}

.b-page-alert__text {
	font-size: 30px;
	line-height: 32px;

	float: left;
}
