.b-detail-view {
	margin: 35px 0 20px;
	color: #000000;

	th {
		text-align: right;
		width: 30%;
	}

	th, td {
		border: none !important;
		padding-left: 8px !important;
		padding-right: 8px !important;
		background: #fff !important;
	}
}