@left-menu-extended-width: 209px;
@left-menu-width: 52px;

body {
	min-width: 970px;
	background: url("../img/pattern.png") repeat 0 0, linear-gradient(to bottom, rgba(32, 163, 57, 1) 0%, rgba(0, 94, 41, 1) 100%);
	background-attachment: fixed;

	& > .container {
		margin-left: -5px;
		margin-right: auto;
	}
}

@media (min-width: 1240px) {
	body > .container {
		width: 1030px + @left-menu-extended-width;
	}

	.b-header {
		width: 1000px + @left-menu-extended-width !important;
	}

	.b-page__content {
		margin-left: 48px + @left-menu-extended-width - @left-menu-width !important;
	}
}

.page-header {
	margin: 0;
	background: #f5f5f5;
	font-weight: bold;
	font-size: 36px;
	line-height: 52px;
	padding: 16px 15px;
}

/* Non-responsive overrides
 *
 * Utilize the following CSS to disable the responsive-ness of the container,
 * grid system, and navbar.
 */

/* Reset the container */
.container {
	width: 1030px;
	max-width: none !important;
}

/* Always float the navbar header */
.navbar-header {
	float: left;
}

/* Undo the collapsing navbar */
.navbar-collapse {
	display: block !important;
	height: auto !important;
	padding-bottom: 0;
	overflow: visible !important;
	visibility: visible !important;
}

.navbar-toggle {
	display: none;
}

.navbar-collapse {
	border-top: 0;
}

.navbar-brand {
	margin-left: -15px;
}

/* Always apply the floated nav */
.navbar-nav {
	float: left;
	margin: 0;
}

.navbar-nav > li {
	float: left;
}

.navbar-nav > li > a {
	padding: 15px;
}

/* Redeclare since we override the float above */
.navbar-nav.navbar-right {
	float: right;
}

.btn-default {
	box-shadow: 0 3px 0 rgba(0, 0, 0, .07);
	font-weight: 800;
	line-height: 40px;
	text-transform: uppercase;
	padding-left: 20px;
	padding-right: 25px;
	position: relative;
	overflow: hidden;
	outline: none !important;

	&:active, &.active {
		top: 3px;
		box-shadow: none;
		background-color: #ededed;
	}

	i.fa {
		font-size: 24px;
		color: #ff6c32;
		position: relative;
		top: 4px;
		margin-right: 6px;
	}

	&.btn-sm {
		line-height: 30px;
	}

	&:hover {
		background-color: #ededed !important;

		i.fa {
			animation-name: btn-icon;
			animation-iteration-count: 1;
			animation-timing-function: ease-out;
			animation-duration: 0.3s;

			@keyframes btn-icon {
				0% {
					transform: translateY(0);
				}
				50% {
					transform: translateY(37px);
				}
				51% {
					transform: translateY(-37px);
				}
				100% {
					transform: translateY(0);
				}
			}

			//			animation: ;
		}
	}

	&:focus {
		background-color: #fff;
	}
}

.btn-success {
	line-height: 40px;
	font-weight: 800;
	text-transform: uppercase;
	padding-left: 40px;
	padding-right: 40px;
	box-shadow: 0 3px 0 rgba(0, 0, 0, .07);
	position: relative;
	overflow: hidden;
	outline: none !important;

	&:active, &.active {
		top: 3px;
		box-shadow: none;
	}

	&:hover {
		background-color: #24a259;
		border-color: #24a259;
		box-shadow: 0 3px 0 rgba(0, 0, 0, .07);
	}

	&:active, &.active, &:focus {
		box-shadow: none;
		background-color: #24a259;
		border-color: #24a259;
	}
}

.bootstrap-select {
	background-color: transparent;
	box-shadow: none;

	.btn {
		padding-top: 0;
		padding-bottom: 0;
		box-shadow: none;
		outline: none !important;

		border-color: #7d7d7d;
		font-weight: normal;
		color: #010101;
		text-transform: none;

		&:focus {
			outline: none !important;
		}

		&:hover {
			background-color: #f5f5f5;
		}

		&:active, &.active {
			top: 0;
		}

		&.dropdown-toggle[aria-expanded="true"] {
			border-radius: 21px;
			border-bottom-left-radius: 0;
			border-bottom-right-radius: 0;
			background-color: #f5f5f5 !important;
			border-color: #7d7d7d;
		}
	}

	&.btn-group.open .dropdown-toggle {
		box-shadow: none;
	}

	.dropdown-menu.open {
		border-color: #7d7d7d;
		border-radius: 25px;
		border-top-right-radius: 0;
		border-top-left-radius: 0;
		margin-top: 1px;
		box-shadow: none;
	}

	.dropdown-menu {
		padding-top: 0;
		padding-bottom: 0;
		border-top-color: #cccccc !important;

		& > li {
			&:first-child > a {
				border-top: none;
			}
			& > a {
				outline: none;
				border-top: 1px solid #cccccc;
				line-height: 34px;

				&:hover {
					background-color: #ededed;
				}
			}
		}
	}

	.filter-option {
		overflow: hidden;
		text-overflow: ellipsis;
	}
}

.form-control {
	padding-left: 18px;
	box-shadow: none;

	+ .input-group-btn > .btn {
		padding-left: 10px;
		padding-right: 10px;
		line-height: 22px;
		border-color: @input-border;
		box-shadow: none;

		&:active, &.active {
			top: 0;
		}
		i.fa {
			position: relative;
			top: 0;
			animation: none;
		}
	}

	&:focus {
		box-shadow: none;
		border-color: #000;

		& + .form-control-feedback {
			border-color: #000;
		}
	}

	&.error {
		border-color: #ff0000;
	}
}

label {
	color: #010101;
}

.datepicker {
	border-radius: @border-radius-base;
	border-color: #949494;
	padding: 0;
	overflow: hidden;
	margin-top: -1px;

	.dow {
		text-transform: uppercase;
		color: #010101;
		font-size: 13px;
		padding: 11px 13px;
		border: 1px solid #cccccc;
	}

	.day {
		font-size: 13px;
		color: #010101;
		padding: 11px 13px;
		border: 1px solid #cccccc;
		border-radius: 0;

		&:hover {
			color: #ff6c32;
		}

		&.active {
			background: #ff6c32 !important;
			color: #fff !important;
			border-color: #ff6c32 !important;
		}
	}

	tr > td.day:nth-child(n+6), tr > th.dow:nth-child(n+6) {
		background-color: #ededed;
	}

	tbody > tr, thead > tr {
		td:first-child, th:first-child {
			border-left: none;
		}
	}

	.datepicker-switch {
		color: #ff6c32;
		line-height: 38px;
		font-weight: bold;
		font-size: 15px;
	}
}

.g-datepicker {
	& + .form-control-feedback {
		border-left: 1px solid #7d7d7d;
		color: #ff6c32;
		font-size: 24px;
		right: 5px !important;
	}
}

input[type="radio"] {
	display: none;

	& + label {
		display: inline-block;
		cursor: pointer;
		color: #000000;
		font-weight: normal;

		padding: 2px 0 2px 36px;
		line-height: 22px;
		margin-top: 8px;
		position: relative;

		&:before {
			position: absolute;
			top: 50%;
			left: 0;
			margin-top: -26px/2;
			width: 26px;
			height: 26px;
			border: 1px solid #7d7d7d;
			border-radius: 50%;
			content: '';
		}

		//		background: left top no-repeat url("../img/radio-buttons.png");

		&:hover {
			//			background-position: 0 -26px;

			&:before {
				background-color: #7d7d7d;

				box-shadow: inset 0 0 0 7px #fff;
			}
		}
	}

	&:checked + label {
		//		background-position: 0 -26px * 2;
		color: #27ae60;

		&:before {
			background-color: #27ae60;

			box-shadow: inset 0 0 0 7px #fff;
		}
	}
}

input[type="checkbox"] {
	display: none;

	& + label {
		display: inline-block;
		cursor: pointer;
		color: #000000;
		font-weight: normal;

		padding: 2px 0 2px 36px;
		line-height: 22px;
		margin-top: 8px;
		position: relative;

		//		background: left top no-repeat url("../img/checkbox-buttons.png");

		&:before {
			position: absolute;
			top: 50%;
			left: 0;
			margin-top: -26px/2;
			width: 26px;
			height: 26px;
			content: '';
			background: left top no-repeat url("../img/checkbox-buttons.png");
		}

		&:hover {
			&:before {
				background-position: 0 -26px;
			}
		}
	}

	&:checked + label {
		color: #27ae60;

		&:before {
			background-position: 0 -26px * 2;
		}
	}
}

.alert {
	margin: 5px;
}

.alert-success {
	.close {
		color: #27ae60;
		opacity: 1;
	}
}

.btn-muted {
	color: #a3a3a3;
	background: #f5f5f5;
	font-size: 12px;

	i.fa {
		color: #a3a3a3;
	}

	&:hover {
		color: #424242;

		background: #ededed;

		i.fa {
			color: #ff6c32;
		}
	}

	&:active, &:focus {
		color: #a3a3a3;
	}
}

.btn-dashed {
	border: 1px dashed #d5d5d5;
	box-shadow: none;

	&:active, &.active {
		top: 0;
	}
}

.btn-round {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	padding: 0;
	line-height: 36px;
	text-align: center;

	i.fa {
		margin-right: 0;
	}

	&.disabled, &:disabled {
		color: #a4a4a4;

		i.fa {
			color: #a4a4a4;
		}
	}
}

.g-auto {
	font-size: 11px;
	color: #ff804d;
	margin-right: 8px;
}

@iterations: 6;

.margin-top-loop (@i) when (@i > 0) {
	.g-mt@{i}0 {
		margin-top: @i * 10px !important;
	}

	.margin-top-loop(@i - 1);
}

.margin-top-loop(@iterations);

.margin-bottom-loop (@i) when (@i > 0) {
	.g-mb@{i}0 {
		margin-bottom: @i * 10px !important;
	}

	.margin-bottom-loop(@i - 1);
}

.margin-bottom-loop(@iterations);

textarea.form-control {
	padding-top: 12px;
	padding-bottom: 12px;
	min-height: 100px;

	resize: vertical;
}

.modal-dialog {
	width: 800px;
	margin: 100px auto;
}

.modal-content {
	border-radius: 0;
	text-align: center;
	padding: 40px 100px;

	strong {
		font-size: 18px;
	}
}

.modal-header {
	padding-bottom: 0;

	h4 {
		font-size: 36px;
	}
}

.modal-footer {
	text-align: center;
	padding: 25px;

	.btn {
		margin: 0 8px;
		max-width: 45%;
		display: inline-block;
	}
}

.btn-close {
	float: right;
	margin-top: -40px + 5px;
	margin-right: -100px + 5px;
	background: #fff;
	font-size: 26px;
	overflow: hidden;
	color: #2aaf62;

	&:active, &.active, &:focus {
		top: auto;
		color: #2aaf62;
		box-shadow: none;
	}

	&:hover {
		color: #2aaf62 !important;
		background-color: #ededed !important;

		i.fa {
			animation-name: btn-small-icon;
			animation-iteration-count: 1;
			animation-timing-function: ease-out;
			animation-duration: 0.2s;
		}
	}
}

.modal .close {
	margin-top: -40px + 5px;
	margin-right: -100px + 5px;
	background: #fff;
	font-size: 34px;
	overflow: hidden;

	width: 40px;
	height: 40px;
	border-radius: 50%;
	padding: 0;
	line-height: 36px;
	text-align: center;

	border: 1px dashed #d5d5d5;
	box-shadow: none;

	text-shadow: none !important;
	position: relative;
	color: transparent;
	opacity: 1 !important;

	&:active, &.active, &:focus {
		top: auto;
		box-shadow: none;
		outline: none !important;

		&:after {
			color: #2aaf62;
		}
	}

	&:after {
		content: '×';
		width: 40px;
		height: 40px;
		position: absolute;
		top: 1px;
		left: -1px;
		color: #2aaf62;
	}

	&:hover {
		background-color: #ededed !important;

		&:after {
			color: #2aaf62 !important;
			animation-name: btn-small-icon;
			animation-iteration-count: 1;
			animation-timing-function: ease-out;
			animation-duration: 0.2s;
		}
	}
}

.hidden-empty {
	&:empty {
		display: none;
	}
}

.select2-container {
	.select2-choice {
		border-radius: @border-radius-base;
		border-color: #7d7d7d;
		height: 40px;
		line-height: 1.9;
		font-family: @font-family-base;
		color: @input-color;
		box-shadow: none;

		& > .select2-chosen {
			padding-left: 20px;
		}

		.select2-arrow {
			border: none;

			display: inline-block;
			width: 0;
			height: 0;
			margin-left: 2px;
			vertical-align: middle;
			border-top: 4px dashed;
			border-right: 4px solid transparent;
			border-left: 4px solid transparent;

			position: absolute;
			top: 50%;
			right: 12px;
			margin-top: -2px;
			vertical-align: middle;
		}
	}
}

.select2-dropdown-open {
	.select2-choice {
		background-color: #f5f5f5;
	}
}

.select2-drop {
	border-color: #7d7d7d;
	border-radius: 25px;
	border-top-right-radius: 0;
	border-top-left-radius: 0;
	margin-top: -1px;
	box-shadow: none;
	background: #f5f5f5;

	.select2-results {
		padding-top: 0;
		padding-bottom: 0;
		border-top-color: #cccccc !important;
		padding: 0;
		margin: 4px 0 0;
		max-height: 220px;

		& > .select2-result {
			color: #000;
			height: 44px;
			line-height: 44px;

			&:first-child > div {
				//				border-top: none;
			}
			& > div {
				outline: none;
				border-top: 1px solid #cccccc;
				line-height: 37px;

				&:hover {
					background-color: #ededed;
				}
			}

			&:last-child, &:last-child.select2-highlighted {
				border-bottom-left-radius: 25px !important;
				border-bottom-right-radius: 25px;
			}
		}

		.select2-highlighted {
			background-color: #ededed;
		}

		.select2-result-label {
			padding-left: 20px;
			background: transparent !important;
			height: 44px;
			line-height: 37px;
		}
	}

}

.typeahead {
	right: 0;
	width: 100%;
	overflow: hidden;
	padding-top: 20px;
	padding-bottom: 20px;
}

.btn-default.disabled, .btn-default[disabled], fieldset[disabled] .btn-default, .btn-default.disabled:hover, .btn-default[disabled]:hover, fieldset[disabled] .btn-default:hover, .btn-default.disabled:focus, .btn-default[disabled]:focus, fieldset[disabled] .btn-default:focus, .btn-default.disabled.focus, .btn-default[disabled].focus, fieldset[disabled] .btn-default.focus, .btn-default.disabled:active, .btn-default[disabled]:active, fieldset[disabled] .btn-default:active, .btn-default.disabled.active, .btn-default[disabled].active, fieldset[disabled] .btn-default.active {
	background-color: #ededed;
	box-shadow: 0 3px 0 rgba(0, 0, 0, .07);

	i.fa {
		color: #a3a3a3;
	}
}
