.b-grid {
	margin: 5px 15px 15px;
	color: #000;
	word-break: break-word;

	thead th, .b-grid__header {
		color: @text-muted;
		font-size: 12px;
		text-transform: uppercase;
		font-weight: normal;
		line-height: 16px !important;
		border-bottom: 2px solid #cccccc;
	}

	.row {
		margin-left: -5px;
		margin-right: 0;
	}

	td, [class^="col-"] {
		padding: 12px 10px !important;
	}

	.row > [class^="col-"]:first-child {
		padding-left: 5px !important;
	}

	tr:nth-child(odd) td, .b-grid__row:nth-child(odd) {
		background: #ffffff;
	}

	tr:nth-child(even) td, .b-grid__row:nth-child(even) {
		background-color: #f5f5f5;
	}
}

.b-grid__row {
	color: #000;
	text-decoration: none;
	display: block;
	cursor: pointer;
	border: 1px solid transparent;
	//border-top: 1px solid #ccc;

	&:hover {
		border-color: #27ae60;
		box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
	}
}

.b-grid__row_muted {
	color: #a3a3a3;
}

.b-grid__name-column {
	overflow: hidden;
	white-space: nowrap;
}

.b-grid__name {
	margin-bottom: 0;
	white-space: nowrap;
	position: relative;
	overflow: hidden;

	&:after {
		position: absolute;
		top: 0;
		right: -1px;
		width: 1px;
		height: 20px;
		box-shadow: -3px 0 10px 10px rgba(255, 255, 255, 0.85);
		content: '';
		z-index: 100;
	}
}

tr:nth-child(even), .b-grid__row:nth-child(even) {
	.b-grid__name:after {
		box-shadow: -3px 0 10px 10px rgba(245, 245, 245, 0.85);
	}
}

.b-grid__name-role {
	float: left;
	width: 15%;
	text-align: right;
	color: @text-muted;
}

.b-grid__name-name {
	width: 85%;
	overflow: hidden;
	padding-left: 5px;
	float: left;
	position: relative;
	z-index: 99;
}

.b-grid__label {
	display: block;
	border-radius: 15px 0 0 15px;
	line-height: 28px;
	font-weight: bold;
	font-size: 12px;
	text-transform: uppercase;
	padding-top: 2px;
	padding-bottom: 0;
	margin: 5px -10px 0 -10px;
	text-align: left;

	i.fa {
		font-size: 14px;
		margin-left: 0px;
	}
}

.b-grid__label_small {
	display: inline-block;
	border: 1px dashed #cccccc;
	border-radius: 50%;
	font-size: 14px;
	padding: 2px;
	line-height: 24px;
	width: 30px;
	height: 30px;
	text-align: center;
	margin-right: 10px;
	margin-top: 4px;
	overflow: hidden;

	&.text-success {
		color: #27ae60 !important;
	}

	&.text-danger {
		color: #ff6c32 !important;
	}

	.fa-play {
		position: relative;
		left: 2px;
	}

	&:hover {
		background-color: #ededed;

		i.fa {
			animation-name: btn-small-icon;
			animation-iteration-count: 1;
			animation-timing-function: ease-out;
			animation-duration: 0.2s;

			@keyframes btn-small-icon {
				0% {
					transform: translateY(0);
				}
				50% {
					transform: translateY(20px);
				}
				51% {
					transform: translateY(-20px);
				}
				100% {
					transform: translateY(0);
				}
			}
		}
	}
}