.b-form {
	padding: 25px 10px;

	h3 {
		margin-bottom: 30px;
	}

	.help-block {
		color: #a3a3a3;
		margin-left: 18px;
		margin-right: 18px;
	}

	hr {
		margin-top: 35px;
		margin-bottom: 35px;
	}
}

.b-form__radio-button-list {
	& > label {
		width: 49%;
		display: inline-block;
	}
}

.b-form__radio-button-list_block {
	text-align: left;

	& > label {
		width: 100%;
		display: block;
	}
}

.b-form__dimensions {
	.form-group {
		margin-bottom: 0;
		margin-left: 0;
		margin-right: 0;
	}
}

.help-block.error {
	color: #ff0000 !important;
	text-align: right;
	margin-right: 18px;
}

.has-error {
	.form-control {
		box-shadow: none !important;
	}

	.control-label {
		color: #000;
	}

	.help-block {
		display: none;

		&.error {
			display: block;
		}
	}
}

.form-control-feedback_big {
	text-align: right;
	padding-right: 19px;
	width: 90px;
}