.b-page {
	background: #fff;
	border-radius: 12px 12px 0 0;
	min-height: 100vh;
	position: relative;
	padding-top: 55px;
	z-index: 98;

	&:before {
		position: fixed;
		top: 0;
		left: 0;
		height: 20px;
		width: 100%;
		content: '';

		background: url(../img/pattern.png) repeat 0 0, #20a339;
		z-index: 99;
	}
}

.b-page__content {
	margin-left: 48px;
	margin-top: 10px - 4px;
	padding-bottom: 15px;
	z-index: 20;
}

.b-page__header {
	position: relative;
}

.b-page__header_with_back_button {
	padding-left: 105px;
}

.b-page__header-back-button {
	display: inline-block;
	position: absolute;
	top: 0;
	bottom: -1px;
	left: 0;
	margin-right: 20px;
	width: 85px;
	color: #27ae60;
	font-size: 30px;
	border-right: 1px solid #dedede;
	border-radius: 0;
	line-height: 85px - 12px;

	i.fa {
		position: absolute;
		top: 50%;
		left: 50%;
		margin-left: -12px;
		margin-top: -30px/2;
	}

	&:hover {
		background: #ededed;
		color: #27ae60;
		border-bottom: 1px solid #dedede;
	}

	&:active, &.active, &:focus {
		background: #27ae60;
		color: #fff;
		box-shadow: none;
	}
}

.b-page__header_no_bold {
	font-weight: normal;
}

.b-page__content-inner {
	padding: 15px;

	&:empty {
		display: none;
	}
}

.b-page__header-form {
	display: inline-block;
	width: 200px;
	margin-left: 20px;
	margin-right: 20px;
}