.b-order-preview {
	background: #fff;
	border: 1px solid #cccccc;
	text-align: center;
	position: relative;
	margin-top: 25px;
	margin-bottom: 60px;
	font-weight: 300;
	width: 221px;
	right: 15px;

	.text-danger {
		color: #ff6c32;
	}
}

.b-order-preview__icon {
	width: 40px;
	height: 40px;

	color: #fff;
	font-size: 18px;
	line-height: 42px;

	position: absolute;
	top: -30px;
	left: 50%;
	margin-left: -20px;
	border-radius: 50%;
}

.b-order-preview__title {
	font-size: 20px;
	font-weight: bold;

	line-height: 60px;
	background: #f5f5f5;
}

.b-order-preview__date {
	//line-height: 48px;
	padding: 13px 0;
	border-top: 1px dashed #cccccc;
	border-bottom: 1px dashed #cccccc;
	background: #f5f5f5;
}

.b-order-preview__text {
	padding: 12px 10px 20px;
	margin-bottom: 25px;
	background: #f5f5f5;
}

.b-order-preview__status {
	font-weight: bold;
	font-size: 22px;
	line-height: 24/22;
	margin: 0 20px 3px;
}

.b-order-preview__buttons {
	margin: 30px 12px;

	.btn {
		margin-top: 22px;
		padding-left: 10px;
		padding-right: 10px;
	}
}

.b-order-preview__buttons_down {
	margin: 44px 0 -74px;

	.btn {
		margin-top: 10px;
	}
}

.b-order-preview_with-button-down {
	margin-bottom: 120px;
}

.b-order-preview__button-send {
	font-weight: bold;
	border-radius: 0;
	line-height: 20px;
	padding-top: 9px;
	padding-bottom: 9px;
	position: relative;
	border: none;
	box-shadow: none;
	background-color: #27ae60;

	&:before, &:after {
		position: absolute;
		top: 50%;
		width: 23px;
		height: 23px;
		margin-top: -11px;
		display: block;
		background: #fff;
		border-radius: 50%;
		content: '';
	}

	&:before {
		left: -11px;
	}
	&:after {
		right: -11px;
	}

	&:active {
		top: 0;
	}
}

.text-default {
	color: @label-default-bg;
}

.b-order-preview__divider {
	margin: 25px -1px 20px;
	height: 10px;
	background: left top repeat-x url("../img/order-preview-divider.png");
}

.b-order-preview__denied-title {
	font-size: 16px;
	font-weight: bold;
}

.b-order-preview__denied-text {
	margin: 0 14px 25px;
	font-weight: normal;
}