.b-left-menu {
	width: 48px;
	border-right: 1px solid #cccccc;
	box-shadow: 4px 0 0 0 rgba(0, 0, 0, .1);
	position: fixed;
	top: 10px;
	left: 10px;
	bottom: 0;
	background: #f5f5f5;
	z-index: 101;
	border-top-left-radius: 12px;
}

.b-left-menu__top {
	height: 215px;
	text-align: center;
}

.b-left-menu__items {

}

.b-left-menu__item {
	color: #27ae60;

	& > a {
		line-height: 43px;
		background: #f5f5f5;
		display: block;
		border-bottom: 1px solid #cccccc;
		text-decoration: none;

		&:hover {
			background: #ededed;
		}

		&:active {
			background: #27ae60;
			color: #fff;
			box-shadow: inset 0 4px 0 0 #24a259, inset 0 -4px 0 0 #24a259;

			i {
				color: #fff;
			}

			.b-left-menu__item-text {
				color: #fff;
			}
		}

	}

	&.active {
		& > a {
			background: #27ae60;
			color: #fff;
			box-shadow: inset 0 4px 0 0 #24a259, inset 0 -4px 0 0 #24a259;

			i {
				color: #fff;
			}

			.b-left-menu__item-text {
				color: #fff;
			}
		}
	}

	&:first-child > a {
		border-top: 1px solid #cccccc;
	}

	i.fa {
		color: #27ae60;
		font-size: 24px;
		line-height: 43px;
		width: 47px;
		text-align: center;
		float: left;
	}
}

.b-left-menu__item-text {
	display: none;
	font-weight: 800;
	font-size: 12px;
	color: #353535;
	text-transform: uppercase;
}

.b-left-menu__trigger {
	margin-top: 80px;
	display: inline-block;
}

.b-left-menu_extended-visible {
	display: none;
}

@media (min-width: 1240px) {
	.b-left-menu {
		width: 205px;

		.b-left-menu__item-text {
			display: block;
		}

		.b-left-menu__item > a {
			padding-right: 21px;
			text-align: right;
		}

		.b-left-menu__trigger {
			display: none;
		}

		.b-left-menu_extended-visible {
			display: block;
		}
	}
}

.b-left-menu_extended {
	width: 205px;

	.b-left-menu__item-text {
		display: block;
	}

	.b-left-menu__item > a {
		padding-right: 21px;
		text-align: right;
	}

	.b-left-menu__trigger {
		display: none;
	}

	.b-left-menu_extended-visible {
		display: block;
	}
}

.b-left-menu__logo {
	display: inline-block;
	margin-bottom: 25px;
	margin-top: 30px;
}

.b-left-menu__home-link {
	font-weight: 800;
	color: #353535;
	text-transform: uppercase;
	text-decoration: underline;

	&:hover {
		color: #353535;
		text-decoration: none;
	}
}

.b-left-menu__copyright {
	position: absolute;
	bottom: 10px;
	left: 0;
	width: 100%;
	height: 20px;

	font-size: 10px;
	color: #686868;
	text-align: center;
	text-transform: uppercase;

	a {
		color: #27ae60;
	}
}