.b-month-switcher {
	text-align: right;
	margin-right: 15px;
}

.b-month-switcher__item {
	display: inline-block;
	text-decoration: none !important;
	padding-right: 20px;
	position: relative;
	height: 30px;
	line-height: 30px;

	&:after {
		content: '';
		position: absolute;
		width: 8px;
		height: 8px;
		top: 50%;
		right: 0;
		margin-top: -8px/2;
		background: #cccccc;
		border-radius: 50%;
	}

	&:hover {
		.b-month-switcher__item-text {
			color: #27ae60;
		}
	}
}

.b-month-switcher__item_active {
	&:after {
		background-color: #27ae60;
		width: 10px;
		height: 10px;
		margin-top: -10px/2;
		right: -1px;
	}

	.b-month-switcher__item-text {
		color: #27ae60;
	}
}

.b-month-switcher__item-text {
	text-transform: uppercase;
	font-size: 12px;
	color: #a3a3a3;
}