.b-notifications {
	width: 721px;
}

.b-notifications__item {
	margin-bottom: 20px;
	margin-right: 20px;
	border: 1px solid #cccccc;
	display: block;
	float: left;
	text-decoration: none !important;
	padding: 15px 15px 38px;
	background-color: #fff;
	text-align: center;
	position: relative;
	width: 220px;
}

.b-notifications__item_new {
	background-color: #f0f9f4;

	.b-notifications__item-date:before, .b-notifications__item-date:after {
		background: #f0f9f4;
	}
}

.b-notifications__item-icon {
	width: 40px;
	height: 40px;
	background: #27ae60;
	color: #fff;
	border-radius: 50%;
	display: inline-block;
	margin-bottom: 12px;
	line-height: 38px;
	font-size: 1.8em;
}

.b-notifications__item-title {
	font-weight: bold;
	color: #353535;
	font-size: 16px;
	text-transform: uppercase;
	line-height: 20 / 16;
	margin-bottom: 8px;
}

.b-notifications__item-description {
	font-size: 12px;
	color: #686868;
	line-height: 18px;
	margin-bottom: 0;
}

.b-notifications__item-date {
	color: #f8f8f8;
	font-size: 10px;
	text-transform: uppercase;
	background: #27ae60;

	position: absolute;
	bottom: 0;
	left: 50%;
	width: 136px;
	margin-left: -136px/2;
	line-height: 24px;

	&:before, &:after {
		width: 14px;
		height: 14px;
		position: absolute;
		top: 50%;
		margin-top: -14px/2;
		content: '';
		background: #fff;
		border-radius: 50%;
	}

	&:before {
		left: -14px/2;
	}

	&:after {
		right: -14px/2;
	}
}