.b-user-groups {
	margin-left: 30px;
	margin-right: 30px;
	margin-top: 30px;
}

.b-user-groups__item {
	text-align: center;
	position: relative;
	display: inline-block;
	width: 48%;
	margin-left: 1%;
	margin-right: 1%;
	margin-bottom: 60px;
	float: left;

	label {
		display: block;
	}
}

.b-user-groups__item-link {
	border: 1px solid #cccccc;
	display: block;
	height: 160px;
	padding: 50px 35px 0;
	text-decoration: none !important;

	&:hover {
		background-color: #ededed !important;
		border-color: #cccccc;
		text-decoration: none;
	}

	&:active, &.active {
		background-color: #ededed;
	}
}

.b-user-groups__item-title {
	font-weight: bold;
	font-size: 16px;
	color: #353535;
	text-transform: uppercase;
}

.b-user-groups__item-description {
	font-size: 12px;
	color: #686868;
}

.b-user-groups__item-remove {
	position: absolute;
	bottom: -20px;
	left: 50%;
	margin-left: -20px;
	background: #fff;
	font-size: 18px;
	overflow: hidden;
	color: #ff6c32;

	&:active, &.active, &:focus {
		top: auto;
		color: #ff6c32;
		box-shadow: none;
	}

	&:hover {
		color: #ff6c32 !important;
		background-color: #ededed !important;

		i.fa {
			animation-name: btn-small-icon;
			animation-iteration-count: 1;
			animation-timing-function: ease-out;
			animation-duration: 0.2s;
		}
	}
}