.b-photo-upload {

}

.b-photo-upload__upload-button {
	border: 1px solid #7d7d7d;
	border-radius: 21px;
	height: 180px;
	width: 140px;
	display: block;
	text-align: center;
	text-decoration: none !important;

	&:hover {
		background-color: #f5f5f5;

		.b-photo-upload__upload-button-icon, .b-photo-upload__upload-button-text {
			color: #a3a3a3;
		}
	}
}

.b-photo-upload__upload-button-icon {
	color: #ff6c32;
	margin-top: 60px;
	font-size: 28px;
	margin-bottom: 6px;
}

.b-photo-upload__upload-button-text {
	font-weight: 800;
	font-size: 12px;
	color: #010101;
	display: block;
	text-transform: uppercase;
}

.b-photo-upload__photo {
	width: 140px;
	height: 178px;
	border-radius: 18px;
	position: relative;

	&:hover {
		.b-photo-upload__photo-remove {
			display: block;
		}
	}
}

.b-photo-upload__photo-photo {
	width: 140px;
	height: 178px;
	border-radius: 18px;
}

.b-photo-upload__photo-remove {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, .3);
	text-align: center;
	border-radius: 18px;
	display: none;
	cursor: pointer;
}

.b-photo-upload__photo-remove-icon {
	color: #fff;
	margin-top: 60px;
	font-size: 36px;
	margin-bottom: 6px;
}

.b-photo-upload__photo-remove-text {
	font-weight: 800;
	font-size: 12px;
	color: #fff;
	display: block;
	text-transform: uppercase;
}
